---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
Karakoram Vision Pakistan
Travel content: Karakoram Vision Editorial Team
Technology: Eleventy, Tailwind CSS, Alpine.js, HTMX, Cloudflare Pages and Pages Functions
Location: {{ site.geo.city }}, {{ site.geo.country }}
Contact: {{ site.email }}
