---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: mailto:{{ site.email }}
Preferred-Languages: en
Canonical: {{ site.url }}/.well-known/security.txt
Policy: {{ site.url }}/privacy-policy/
Expires: 2027-12-31T23:59:59Z
